.about--section{
    padding: 0px 36px 0px 34px;
}
.about--title, .about--main-article{
    margin: 0px 4px 5px;
    
}
.about--title{
    color: #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.about--main-article{
    color: #DCDCDC;
    font-weight: 400;
    font-size: 10.24px;
}